.keyboard {
    margin: 0 auto;
    display: block;
    width: 910px ;

}

.keys-wrapper {
    margin: 0 auto;
    display: flex;
    width: 910px ;
    flex-wrap: wrap;
}
textarea {
    width: 883px;
    height: 164px;
    margin: 5px;
}
.letter {
    background-color: lavender;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
}

.letter:active {
    background-color: lightcyan;
}

.letter.active , .special-key-mini.active, .special-key.active{
    background-color: lightcyan;
}
.special-key {
    background-color: lavender;
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 4px;

    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
}

.special-key-mini {
    background-color: lavender;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 4px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
}